<h1 class="form__title">Personal Info</h1>
<p class="form__info">
  Please provide your name, email address, and phone number.
</p>
<label for="name" class="form__name-label">Name</label>
<input
  type="text"
  class="form__name form__input"
  placeholder="e.g. Stephen King"
  id="name"
  name="user"
/>
<label for="email" class="form__email-label">Email Address</label>
<input
  type="email"
  class="form__email form__input"
  placeholder="e.g. stephenking@lorem.com"
  id="email"
  name="email"
/>
<label for="phone" class="form__phone-label">Phone Number</label>
<input
  type="text"
  class="form__phone form__input"
  placeholder="e.g. +1 234 567 890"
  id="phone"
  name="phoneNumber"
/>

<script src="../js/router.js"></script>
<script src="../js/index.js"></script>
