<h1 class="form__title">Select your plan</h1>
<p class="form__info">You have the option of monthly or yearly billing.</p>

<div class="cards-container">
  <div class="card">
    <div class="card__icon">
      <img src="../assets/images/icon-arcade.svg" alt="Arcade" />
    </div>
    <div class="card__info">
      <h4 class="card__plan">Arcade</h4>
      <span class="card__price">$9/mo</span>
    </div>
  </div>
  <div class="card">
    <div class="card__icon">
      <img src="../assets/images/icon-advanced.svg" alt="Advanced" />
    </div>
    <div class="card__info">
      <h4 class="card__plan">Advanced</h4>
      <span class="card__price">$12/mo</span>
    </div>
  </div>
  <div class="card">
    <div class="card__icon">
      <img src="../assets/images/icon-pro.svg" alt="Pro" />
    </div>
    <div class="card__info">
      <h4 class="card__plan">Pro</h4>
      <span class="card__price">$15/mo</span>
    </div>
  </div>
</div>

<div class="payment">
  <div class="payment__plans">
    <span class="payment__mode monthly payment__mode--active">Monthly</span>
    <div class="payment__btn-container">
      <button class="payment__btn"></button>
    </div>
    <span class="payment__mode yearly">Yearly</span>
  </div>
</div>
