<h1 class="form__title">Pick add-ons</h1>
<p class="form__info">Add-ons help enhance your gaming experience.</p>

<div class="add-ons">
  <div class="add-on">
    <div class="add-on__left">
      <input type="checkbox" class="add-on__checkbox" />
      <div class="add-on__text">
        <span class="add-on__name">Online service</span>
        <span class="add-on__description">Access to multiplayer games</span>
      </div>
    </div>
    <div class="add-on__right">
      <span class="add-on__price">+$1/mo</span>
    </div>
  </div>
  <div class="add-on">
    <div class="add-on__left">
      <input type="checkbox" class="add-on__checkbox" />
      <div class="add-on__text">
        <span class="add-on__name">Larger Storage</span>
        <span class="add-on__description">Extra 1TB of cloud sabe</span>
      </div>
    </div>
    <div class="add-on__right">
      <span class="add-on__price">+$2/mo</span>
    </div>
  </div>
  <div class="add-on">
    <div class="add-on__left">
      <input type="checkbox" class="add-on__checkbox" />
      <div class="add-on__text">
        <span class="add-on__name">Customizable profile</span>
        <span class="add-on__description">Custom theme on your profile</span>
      </div>
    </div>
    <div class="add-on__right">
      <span class="add-on__price">+$2/mo</span>
    </div>
  </div>
</div>
