.navbar-container {
  min-width: 35%;
  background: url("../../assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-position: bottom;
  padding: 25px;
  border-radius: 10px;
  color: var(--white);
}

.navbar__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.navbar__step-number {
  border: 1px solid #fff;
  min-width: 35px;
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 15px;
  font-weight: 500;
}

.navbar__step {
  font-size: 13px;
  color: var(--Cool-gray);
}

.navbar__subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}

/* MODIFIERS */

.navbar__step-number--active {
  color: #000;
  background: var(--Light-blue);
  border: none;
  font-weight: 700;
}
